.idea/
test_asyncio5.py
test_asyncio4.py
test_asyncio3.py
test_asyncio2.py
test_asyncio.py
test_aiohttp.py
test3.py
test2.py
test.py
md5_test.py
intro_aiohttp.py
get_url.py
final_asyncio.py
du_user2.py
du_user.py
async_spider.py
api_test.py
common/__pycache__/conf.cpython-37.pyc
common/__pycache__/
*.log
test_arrow.py
du_spider.py
findGoods.py
no_size.txt
__pycache__/du.cpython-37.pyc
test_appmuin.py
du_product2.py
du_product.py
styleId.txt
__pycache__/
*.xlsx
test_mongo.py
kuaishou.py
excel.py
build/
dist/
*.pkl
*.spec
venv/
